<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this rezept from being saved:</h2>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id, id: :ingredient_ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :ingredient_name %>
    <%= form.text_field :ingredient_name, id: :ingredient_ingredient_name %>
  </div>

  <div class="field">
    <%= form.label :ingredient_description %>
    <%= form.text_area :rezept_bemerkung, id: :ingredient_ingredient_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
