<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>
<%= link_to 'Back', root_path %>

<table width="50%">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
		<th>Nutrition</th>
    <th colspan="3">Modify</th>
  </tr>
  </thead>

  <tbody>
  <% @ingredients.each do |ingredient| %>
      <tr>
				<td><%= image_tag("gurke.png", width: '100px', alt: 'Santa is not here you did not behave well') %></td>
				<!-- <td><%= ingredient.image %></td> -->
        <td onclick="this.style.backgroundColor='#FFFF00'"><%= ingredient.name %></td>
        <td onclick="this.style.backgroundColor='#FFFF00'"><%= ingredient.description %></td>
				<td onclick="this.style.backgroundColor='#FFFF00'"><%= ingredient.nutrition_id %></td>
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
