<h1>ReSushi</h1>
<a href="#" data-meldung="Nur ein Test"><%= image_tag("03-santa.png", width: '150px') %></a>
	
<p>Page: <%= link_to 'Nutrition', nutritions_path %>  <%= link_to 'Recipes', recipes_path %> <%= link_to 'Ingredients', ingredients_path %> <%= link_to 'Widgets', widgets_path %></p>

<p>reSushi is the opportunity for tech-savvy people,
who come from different cultural backgrounds and bring along different technical devices,
to look for your favorite food here and now in the big city.<br />
It combines the richness of Ruby technology with the decade-long Japanese tradition of shokuhin sampuru.</p>

<p>The site is subject to Zen's attributes of simplicity as a self-understanding and independence of word and character. So there is more room for another motto of the Zen:</p>

<p>"I would like to offer something to anyone To help you"</p>

<p>Thus the needs of the target group in the search for good peace are met in a special way.</p>

