<p id="notice"><%= notice %></p>

<h1>Ernaehrungs</h1>

<table>
  <thead>
    <tr>
      <th>Ernaehrung bez</th>
      <th>Ernaehrung bemerkung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ernaehrungs.each do |ernaehrung| %>
      <tr>
        <td><%= ernaehrung.ernaehrung_bez %></td>
        <td><%= ernaehrung.ernaehrung_bemerkung %></td>
        <td><%= link_to 'Show', ernaehrung %></td>
        <td><%= link_to 'Edit', edit_ernaehrung_path(ernaehrung) %></td>
        <td><%= link_to 'Destroy', ernaehrung, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ernaehrung', new_ernaehrung_path %>
