<p id="notice"><%= notice %></p>

<h1>Rezeptes</h1>

<table>
  <thead>
    <tr>
      <th>Preis</th>
      <th>Rezepte name</th>
      <th>Rezepte bemerkung</th>
      <th>Zutat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rezeptes.each do |rezepte| %>
      <tr>
        <td><%= rezepte.preis %></td>
        <td><%= rezepte.rezepte_name %></td>
        <td><%= rezepte.rezepte_bemerkung %></td>
        <td><%= rezepte.zutat_id %></td>
        <td><%= link_to 'Show', rezepte %></td>
        <td><%= link_to 'Edit', edit_rezepte_path(rezepte) %></td>
        <td><%= link_to 'Destroy', rezepte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rezepte', new_rezepte_path %>
