<p id="notice"><%= notice %></p>

<p>
  <strong>Rezept:</strong>
  <%= @rezept.rezept_id %>
</p>

<p>
  <strong>Rezept name:</strong>
  <%= @rezept.rezept_name %>
</p>

<p>
  <strong>Rezept bemerkung:</strong>
  <%= @rezept.rezept_bemerkung %>
</p>

<%= link_to 'Edit', edit_rezept_path(@rezept) %> |
<%= link_to 'Back', rezepts_path %>
